---
import type { Item } from "@/content/utils";
import { cn } from "@/lib/utils";
import { TITLE } from "@/styles/ui";
import { Image as Img } from "@unpic/astro";
import type { ClassValue } from "tailwind-variants";
import { BUTTON } from "./ui/button";
import Features from "./ui/features.astro";

// PROPS ***********************************************************************************************************************************
const { class: className, item } = Astro.props;

// VARS ************************************************************************************************************************************
const { features, href, image, slug, text, title } = item;

// TYPES ***********************************************************************************************************************************
type Props = { class: ClassValue; item: Item };
export type RecordsItemProps = Props;
---

<li class={cn("flex flex-col bg-white", className)} data-slug={slug}>
  <Img {...image} width={384} aspectRatio={3 / 2} sizes="24rem" objectFit="cover" class="relative aspect-[3/2] flex-none" />
  <div class="flex flex-1 flex-col gap-4 p-4 px-6 sm:px-8">
    <h4 class={TITLE()}>{title}</h4>
    <Features {features} intent="white" />
    <article set:html={text} />
    <div class="flex-1"></div>
    <a href={href} class={BUTTON({ className: "self-end" })}>En savoir plus</a>
  </div>
</li>
