---
import type { ServiceItem } from "@/content/utils";
import { Image } from "@unpic/astro";
import RecordsItem from "./records-item.astro";
import { BUTTON } from "./ui/button";
import Carousel from "./ui/carousel.astro";
import Features from "./ui/features.astro";
import Section, { type SectionProps } from "./ui/section.astro";
import Title from "./ui/title.astro";

// PROPS ***********************************************************************************************************************************
const { intent = "white", services = [], ...rest } = Astro.props;
if (!services[0]) return;

// VARS ************************************************************************************************************************************
const isSingle = services.length === 1;
const title = `${{ training: "Formation", workshop: "Atelier", consult: "Consultation" }[services[0].extra.category]}${isSingle ? "" : "s"}`;
const btnIntent = intent === "primary" ? "secondary" : "primary";

// TYPES ***********************************************************************************************************************************
type Props = { services: ServiceItem[] } & SectionProps;
export type TrainingsItemsProps = Props;
---

{
  isSingle ? (
    <Section {intent} {...rest}>
      <Title slot="header" text={title} class="mb-8 xl:hidden" />
      <Image slot="aside" {...services[0].image} class="relative shadow-lg shadow-black/50" />
      <Title text={title} class="hidden self-start xl:inline-flex" />
      <Features {intent} features={services[0].features} />
      <article set:html={services[0].text} />
      <a href={services[0].href} class={BUTTON({ intent: btnIntent, class: "self-end" })}>
        En savoir plus
      </a>
    </Section>
  ) : (
    <Section intent={intent} expanded {...rest}>
      <Title slot="header" text={title} class="mb-8" />
      <Carousel class="w-full">
        {services.map((item) => (
          //@ts-ignore
          <RecordsItem {item} class="splide__slide mb-2 shadow-md" />
        ))}
      </Carousel>
    </Section>
  )
}
